// An Overlay to display the score
Score
  {
        // set a high z-order, displays on top of anything with lower z-order
        zorder 500

        // create a PanelOverlayElement container to hold the text areas
       container Panel(ScorePanel)
       {
         // use relative metrics mode to position this container at the top-left corner of the screen
         metrics_mode relative
         left 0.0
         top 0.0

         // make it 1/10 the height and the full width of the screen
         width 1.0
         height .1

         // create a TextAreaOverlayElement to display player 1's score
         element TextArea(left)
          {
             // position and size the element relative to the container
             metrics_mode relative

            // position it at the top of the container 5% from the left and
            // make it the same height and half as long as the container
            left 0.05
            top 0.0
            width 0.5
            height 1.0

            // set font used for caption and set the size and color
           font_name BlueBold
           char_height .05
           colour 1.0 0 0
           caption Player 1 Score: 0
          } 

          // create a TextAreaOverlayElement to display player 2's score
          element TextArea(right)
           {
              // position and size the element relative to the container
              metrics_mode relative

              // position it at the top of the container 69% from the left and
              // make it the same height as the container, stretch to the end
              left 0.69
              top 0.0
              width 0.5
              height 1.0

              // set font used for caption and set the size and color
              font_name BlueBold
              char_height 0.05
              colour 1.0 0 0
              caption Player 2 Score: 0
        }

      }
      
    }